<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hackeru.sendsmsbyjava">

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".SentReceiver">
            <intent-filter>
                <action android:name="SMS_SENT"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".DeliveredReceiver">
            <intent-filter>
                <action android:name="SMS_DELIVERED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
